#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.checkbox {
  width: 25px;
  height: 25px;
}


.players-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.player-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 120vh;
  height: 40vh;
}

.opponents-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.opponent-spacer {
  width: 5vw;
}

.opponent-div {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 40vh;
  height: 25vh;
}

.right-opponent-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 40vh;
  height: 25vh;
}

.ally-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 40vh;
  height: 25vh;
}

.hand-div {
  margin-top: 30px;
}

.vertical-div {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.horizontal-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.input {
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.button {
    margin: 10px;
    padding: 10px;
    width: 115%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  background-color: #FFF;
}

.large-card {
  width: 130px;
  height: 200px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 4px;
  padding-left: 16px;
}

.small-card {
  width: 65px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 12px;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.card-value-large {
  font-size: x-large;
}

.card-suit-large {
  font-size: xx-large;
}

.card-value-small {
  font-size: small;
}

.card-suit-small {
  font-size: medium;
}

.card-left-margin-large {
  margin-left: -48px;
}

.card-left-margin-small {
  margin-left: -24px;
}

.card-top-margin-large {
  margin-top: -48px;
}

.card-top-margin-small {
  margin-top: -24px;
}

.card-tl {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-br {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items:  flex-start;
  margin-right: 16px;
  transform:rotate(-180deg);
}


label {
  font-size: x-large;
}

span {
  font-size: xx-large;
}

.score-log-column-div {
  margin-left: 20px;
  margin-right: 20px;
  font-size: xx-large;
  display: flex;
  align-items: top;
  text-align: center;
  height: 75vh;
  flex-direction: column;
}

.score-bid-column-div {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: top;
  text-align: center;
  height: 75vh;
  flex-direction: column;
  margin-top: 200px;
}

.score-bid-row-div {
  font-size: xx-large;
  display: flex;
  align-items: top;
  text-align: center;
  flex-direction: row;
  margin-bottom: 80px;
}

.trump-bid-result-div {
}


.alert-danger {
  color: #ffffff;
  background-color: #662222FF;
  min-width: 20vw;
  z-index: 100;
}

.trump-dropdown {
  background-color: #111111 !important;
  color: white;
}

.read-the-docs {
  color: #888;
}
